name: Deploy to Staging

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Render Deploy
        run: |
          curl ${{ secrets.RENDER_DEPLOY_HOOK_URL }}